* {
  font-family: 'Roboto', sans-serif;
}

.gmailIcon, .twitterIcon, .facebookIcon, .igIcon {
  height: 40px;
  width: 40px;
  object-position: center;
  object-fit: contain;
  border: none;
}

.myName {
  font-family: 'Caveat', cursive;
  border-right: .015rem solid rgba(244, 225, 200, 0.527);
  padding-right: 2rem;
}

img {
  width: 150px;
}

body {
  background-color: rgba(244, 225, 200, 0.326);
  color: #0D1229;
}


.naviebar, footer {
  background-color: rgb(160, 196, 184)
  
}

#projects, #tools, #contactme {
  text-decoration-line: underline;
  text-decoration-style: solid;
}

footer {
  line-height: .5;
  font-size: .75rem;
}


#profilepic {
  width: 50%;
  height: 50%;

}

.card-body {
  background-color: rgb(160, 196, 184);
}
